{% extends '@admin/layout.twig' %}

{% block title 'Edition de catégorie' %}
{% block body  %}
    <h1>Edition de "{{ item.name }}"</h1>

    <form action="{{ path(routePrefix~'.edit', {id: item.id }) }}" method="post" enctype="multipart/form-data">

        {% include viewPath~'/form.twig' %}

        <button class="btn btn-primary" type="submit">Editer</button>

    </form>

{% endblock %}