{% extends '@admin/layout.twig' %}

{% block title 'Création catégorie' %}
{% block body  %}
    <h1>Ajouter une catégorie</h1>

    <form action="{{ path(routePrefix~'.create', {id: item.id }) }}" method="post" enctype="multipart/form-data">

        {% include viewPath~'/form.twig' %}

        <button class="btn btn-primary" type="submit">Ajouter</button>

    </form>


{% endblock %}